*{
    box-sizing: border-box;
}
*:focus{
    outline: 2px dotted #FF7500;
    outline-offset: 3px;
    
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
   
}
.container
{
    max-width: 1140px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}
/* HEADER */
.main-header
{
    padding-top: 30px;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link:hover{
    opacity: 0.8;
}
.logo-link:active
{
    opacity: 0.6;
}
.header-nav
{
    display: flex;
    align-items: center;
}
.nav-list
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-list-item:not(:last-child)
{
    margin-right: 30px;
}
.header-nav-link
{
    text-decoration: none;
    color: #333;
    line-height: 22px;
    font-size: 15px;
}
.header-nav-link:hover
{
    color: #EA625C;
    opacity: 0.8;
}
.header-nav-link:active
{
    opacity: 0.6;
}
.main-header-link
{
    text-decoration: none;
    color: #666;
    font-size: 15px;
    line-height: 22px;
    margin-left: 40px;
    padding-bottom: 3px;
    border-bottom:solid 1px #333;
}
.main-header-link:hover
{
color: #EA625C;
border-color: #EA625C;
opacity: 0.8;
}
.main-header-link:active
{
    opacity: 0.6;
}